# Kuando Busylight — grant read/write access to the plugdev group
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="f848", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="f8f8", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="2013", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="2014", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="27bb", ATTRS{idProduct}=="3bca", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="27bb", ATTRS{idProduct}=="3bcb", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="27bb", ATTRS{idProduct}=="3bcd", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="27bb", ATTRS{idProduct}=="3bc8", GROUP="plugdev", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="27bb", ATTRS{idProduct}=="3bc9", GROUP="plugdev", MODE="0660"
